@font-face {
  font-family: 'Pacifico';
  src: local('Pacifico'), url(./fonts/Pacifico/Pacifico.ttf);
}
@font-face {
  font-family: 'Lato';
  src: local('Lato'), url(./fonts/Lato/Lato-Regular.ttf)
}
@font-face {
  font-family: 'LatoBold';
  src: local('LatoBold'), url(./fonts/Lato/Lato-Bold.ttf)
}
@font-face {
  font-family: 'LatoBoldItalic';
  src: local('LatoBoldItalic'), url(./fonts/Lato/Lato-BoldItalic.ttf)
}
@font-face {
  font-family: 'LatoHeavy';
  src: local('LatoHeavy'), url(./fonts/Lato/Lato-Heavy.ttf)
}
@font-face {
  font-family: 'LatoItalic';
  src: local('LatoItalic'), url(./fonts/Lato/Lato-Italic.ttf)
}
@font-face {
  font-family: 'LatoThin';
  src: local('LatoThin'), url(./fonts/Lato/Lato-Thin.ttf)
}
@font-face {
  font-family: 'LatoLight';
  src: local('LatoLight'), url(./fonts/Lato/Lato-Light.ttf)
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}
li {
  list-style: none;
}
a{
  color: #000;
  text-decoration: none;
}
.relative {
  position: relative;
}
.hidden,
.nav__desktop-container,
.instgram-reel__images .image-container:nth-child(4),
.instgram-reel__images .image-container:nth-child(5),
.carousel-items a:nth-child(3),
.carousel-items a:nth-child(4),
.desktop-cards,
/* .product-card:last-child, */
.linkList {
  display: none;
}

textarea:focus,
input:focus,
button:focus {
  outline: none;
}
.row,
.nav__desktop-container .nav-logo a,
.nav__mobile-center .nav-logo a,
.hero-text__container .column,
.instgram-reel__images,
.signup-form,
.social,
.dropdown-top,.dropdown-bottom {
  display: flex;
}
.relative{
  position: relative;
}
.column,
.hero-text__container {
 height: 100%;
}
.center-row{
  justify-content: center;
}
.margin-bottom__s {
  margin-bottom: 5px;
}
.margin-bottom__m {
  margin-bottom: 10px;
}
.margin-bottom__l {
  margin-bottom: 15px;
}
.container-fluid,
.product-cards__container {
  padding: 0 23px;
}
header,
.hero-text h1,
.hero-text p,
.shop-now__cta,
.product-card__text,
.product-card__button,
footer,
.form-submit,
.social-title,
.mobile-menu-toggle a svg,
.nav__mobile-right ul li a svg,
.linkList-link{
  color: #fff;
}
p{
  font-family: 'Lato';
}
.hero-text h1,
.nav-logo a,
.product-card__text,
.title,
.item-price p,
.form-submit,
.linkList-title,
.social-title
{
  font-family: 'Pacifico';
}
.linkList-link,
.carousel-item .item-type {
  font-family: 'LatoThin';
}
.announcement-bar,
.shop-now__cta,
.black-button,
.footer__nav-container {
  background-color: #000;
}
.announcement-bar p,
.nav__mobile-container,
.mobile-dropdown li,
.product-card__button,
.product-cards__container,
.carousel-title__container,
.carousel-item,
.instagram-title__container,
.title-container,
.footer__email-container {
  text-align: center;
}

.nav__desktop-container,
.nav__mobile-container,
.dropdown-top,
.hero-text__container .column,
.dropdown-bottom {
  align-items: center;
}
.dropdown-top,
.nav__desktop-container .nav-logo a,
.nav__mobile-container {
  padding: 5px 0;
}
.nav__mobile-left,
.nav__mobile-right{
  flex-grow: 1
}
.nav__mobile-left{
  text-align: left;
}
.nav__mobile-right{
  text-align: right;
}
.nav__mobile-center{
  flex-grow: 2
}
.dropdown-top,
.dropdown-bottom,
.nav__desktop-container .nav-logo a,
.nav__mobile-center .nav-logo a{
  justify-content: center;
  align-content: center;
}
.dropdown-top .nav-logo a img,
.nav__mobile-center .nav-logo a img,
.nav__desktop-container .nav-logo a img{
  width: 50px;
}
.mobile-menu-toggle a svg,
.nav__mobile-right ul li a svg {
  width: 25px;
  height: 25px;
}
.nav-items a{
  color: #fff;
}
.mobile-dropdown{
  height: 100vh;
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 9999999;
}
.mobile-dropdown li{
  height: 25%; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #c3c3c3;
}
.mobile-dropdown li:last-child {
  border: none;
}
.dropdown-top,
.dropdown-bottom{
  height: 10%;
}
.dropdown-bottom{
  border-top: 1px solid black;
}
.dropdown-links{
  height: 80%;
}
.hero-container{
  position: relative;
}
.hero-text__container-left,
.hero-text__container-right {
  position: absolute;
}
.hero-text__container-left{
  padding-left: 23px;
}
.hero-text__container-right{
  right: 0;
  padding-right: 5%;
}
.hero-text h1{
  font-size: 16px;
}
.announcement-bar p,
.hero-text p,
.carousel-item .item-type {
  font-size: 12px;
}
.hero-copy {
  font-family: LatoLight;
}
.shop-now__cta{
  font-size: 8px;
}

.hero-text > div{
  margin-bottom: 5px;
}
.button-wrap{
  margin-bottom: 0;
  margin-top: 20px;
}
.shop-now__cta{
  padding: 5px 12px;
}
header,
.dropdown-top,
.green-button,
.product-card__button,
.footer__email-container,
.form-submit {
   background-color: #10504f;
}
.announcement-bar,
.product-cards__container,
.footer__email-container
  {
  padding-top: 15px;
  padding-bottom: 15px;
}
.product-card__image img{
  display: block;
}
.mobile-cards__top{
  display: flex;
  justify-content: space-between;
  margin-bottom: 4%;
}
.mobile-cards__top .product-card {
  width: 48%;
}
.product-card__button{
  padding: 5px 0;
}
.carousel,
.instagram-reel,
.footer__nav-container {
  padding: 15px 0 25px;
}
.carousel-controls__container img{
  width: 25px;
}
.carousel-items{
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}
.carousel-items a{
  flex-grow: 1;
  z-index: 999;
}
.item-price p{
  color: #10504f;
}
.arrow{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 25px;
}
.arrow img{
  position: absolute;
  top: 50%;
  width: 15px;
}
.arrow:last-child {
  right: 25px;
}
.arrow:last-child img{
  right: 0;
}
.instgram-reel__images{
  justify-content: space-between
}
.instgram-reel__images .image-container{
  width: 31%;
}
.signup-form__copy{
  font-size: 8px;
  font-family: LatoThin;
}
.signup-form{
  align-items: center;
  justify-content: space-between;
}
.signup-form__title{
  font-size: 18px;
}
.email-input{
  width: 69%;
  padding: 8px;
  height: 35px;
  border-radius: 0;
  border: none;
}
.email-container__bottom-right {
  margin: 0 -10px
}
.form-submit{
  width: 30%;
  border: 1px solid white;
  height: 35px;
}
.linkList-container {
  margin-bottom: 8px;
}
.linkList__title-container {
  margin-bottom: 5px;
}
.linkList-dropdown ul li{
  margin-bottom: 3px;
}
.linkList__right{
  flex-grow: 2;
  text-align: right;
}
.social-title__container{
  margin-bottom: 5px;
}
.social{
 width: 100px;
 justify-content: space-between;
}
.email-icon{
  width: 15px
}
.social img{
  width: 30px;
}
.social li:first-child img {
  width: 15px;
}

@media only screen and (min-width: 450px){
  .carousel-items a:nth-child(3){
    display: block;
  }
}
@media only screen and (min-width: 768px){
  .carousel-items a:nth-child(4) {
    display: block;
  }
}

@media only screen and (min-width: 1024px){
  .container-fluid{
    padding: 0 55px;
  }
  .nav__desktop-container{
    display: flex;      
    width: 50%;
    text-align: center;
    padding: 5px 25px;
  }
  .nav-logo{
    padding-right: 15px;
  }
  .nav-items{
    display: inline-flex;
    padding-right: 15px;
  }
  .nav__mobile-container,.mobile-cards {
    display: none;
  }
  .desktop-cards{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .hero-text h1,
  .product-card__text,
  .footer__email-container .title,
  .instagram-title__container .title,
  .carousel-title__container .title {
    font-size: 32px;
  } 
  .carousel{
    margin-bottom: 15px;
  }
  .hero-text__container-left {
    padding-left: 55px;
  }

  .hero-text__container-right {
    padding-right: 15%;
  }

  .hero-text p {
    font-size: 22px;
  }

  .hero-text>div {
    margin-bottom: 5px;
  }

  .button-wrap {
    margin-bottom: 0;
    margin-top: 40px;
  }

  .announcement-bar p, .shop-now__cta {
    font-size: 16px;
  }
  .shop-now__cta {
    padding: 10px 15px;
  }
  .product-cards__container {
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: space-between;
  }
  .product-card{
    width: 32%;
    padding: 0;
    margin: 0;
  }
  /* .product-card:nth-child(2) {
      margin-left: 0px;
  }
  .product-card:nth-child(3) {
    display: none;
  }
  .product-card:last-child{
    display: block;
  } */
  .carousel-items{
    width: 80%;
    margin: 0 auto;
  }
  .arrow{
    left: 5%;
  }
  .arrow:last-child {
    right: 5%;
  }
  .arrow img{
    width: 25px;
  }
  .product-card__image img{
    max-height: 450px;
    width: 100%;
  }
  .product-card__button{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 365px;
  }
  .instgram-reel__images .image-container:nth-child(4),
  .instgram-reel__images .image-container:nth-child(5){
    display: unset;
  }
  .instgram-reel__images .image-container {
    width: 19%;
  }
  .signup-form__copy{
    font-size: 16px;
    text-align: left;
  }
  .email-container__bottom{
    display: flex;
    justify-content: center;
  }
  .email-container__bottom-left,
  .email-container__bottom-right {
    width:455px;
  }
  .email-container__bottom-right {
    margin: 0;
  }
  .email-container__bottom-left {
    margin-right: 25px;
  }
  .footer__email-container{
    padding: 30px 0;
  }
  .footer__nav-container {
    padding: 25px 0;
  }
  .nav-container__inner{
    display: flex;
  }
  .nav-container__inner > div{
    display: flex;
    flex-grow: 0.2;
    justify-content: space-between;
  }
  .nav-container__inner>div:last-child {
    justify-content: flex-end;
    flex-grow: 2;
  }
  .linkList {
    display: block;
  }
  .linkList__right,
  .linkList__left {
    display: none;
  }
  .linkList-dropdown{
    display: none;
  }
  .linkList__title-container{
    margin-bottom: 5px;
  }
  .linkList ul li {
    margin-bottom: 8px;
  }
}